$bg: rgba(110, 141, 100, 0.25);       
$contrastbg: rgba(166, 255, 161, 0.1); 
$fg: rgba(232, 232, 232, 1);             
$green: rgba(166, 237, 161, 1);      
$lightblack: rgba(0, 0, 0, 0.55);   
  
.date {
  background-color: $bg;
  color: $fg;
  border-radius: 10px;
}

.timebox {
  margin: 20px 0px;

  .time-container {
    .content {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 60px;
    }
  }
  .date-container {
    font-family: "Montserrat", sans-serif;
    margin-top:  10px;
    font-size: 1.2rem;
  }
}

.cal-box {
  font-family: "Montserrat", sans-serif;
  background-color: $contrastbg;
  border-radius: 4px;
  padding: 5px;
  color: $fg;
  margin: 0px 12px 12px 12px;

  .cal {
    background-color: transparent;
    padding: .5rem .10rem 0rem;
    margin-left: 10px;

    & > * {
      border: 0px solid transparent;
    }

    &:selected {
      color: $green;
      font-weight: bold;
    }
  }
}

calendar.header {
  color: $fg;
  font-weight: bold;
}

calendar.button {
  color: $fg;
}

calendar.highlight {
  color: $green;
  font-weight: bold;
}

calendar:indeterminate {
  color: $lightblack;
}
