@theme "~/.config/rofi/themes/theme.rasi"

configuration {
    modi:                 "drun";
    show-icons:           false;
   	drun-display-format: "{name} [<span weight='light' size='small'>({generic})</span>]";

}

mainbox {
    children:           [ "inputbar", "listview" ];
    spacing:            10px;
}
