* {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  background: rgba(90, 141, 80, .40);  
  color: #ffffff;
  transition-duration: .5s;
}

button:hover {
}

#keyboard-state {
    font-size: 12px;
    padding-right: 8px;
    color: #ffffff;         
}

#custom-search {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  font-weight: bold;
}

#keyboard-state label.locked {
}

#keyboard-state label.unlocked {
}

#idle_inhibitor {
  color: #ffffff;
  padding-right: 6px;
}

#custom-launcher,
#custom-launcher2,
#custom-launcher3 {
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
  font-weight: bold;
}

#cpu,
#disk,
#memory {
    padding: 4px;
}

#custom-draweropener {
}

#taskbar {
}

#taskbar button {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 0;
}

#taskbar button.active {
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid white;
  border-radius: 0;
  background: rgba(225, 225, 225, 0.05);
}

#taskbar button:hover {
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: #ffffff;
  background: transparent;
}
