* {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
}

window#waybar {
    border-bottom: 2px solid rgba(225, 225, 225, 0.3);
    background: rgba(90, 141, 80, .55); 
    color: #ffffff;
    transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;;
}

#waybar.empty #window {
	background-color: transparent;
}

#workspaces {
}

#workspaces button {
    min-width: 22px;
    min-height: 0;
    margin: 5px 3px;
    padding: 0;   
    border-radius: 5px;    
    background: rgba(255, 255, 255, 0.15);
    color: transparent;
    transition: all 0.25s ease-in-out;
}

#workspaces button.active {
    background: rgba(225, 225, 225, 1);
    color: transparent;
    min-width: 45px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: rgba(225, 225, 225, 1);
    color: transparent;
    min-width: 45px;
}

button {
    box-shadow: inset 0 -3px transparent;
    color: rgba(225, 225, 225, 0.3);
    border-bottom: none;
    border-left: none;
    border-right: none;
	border-radius: 0;
}

button:hover {
    background: inherit;
}

#tray > * {
    border-top: 2px solid #ffffff; 
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#tray,
#mpd {
    background: transparent;
	padding: 0 4px;
	color: #ffffff;
}

#custom-weather.sunny,
#custom-weather.lightrain,
#custom-weather.rain,
#custom-weather.heavyrain,
#custom-weather.cloudy,
#custom-weather.fog {
	color: #ffffff;
}

#custom-weather {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
	color: #ffffff;
}

#clock {
    font-size:14px;
    font-weight: bold;
}

#custom-notification {
    padding-left: 2px;
    font-size: 14px;
}

#custom-reboot,
#custom-poweroff {
    padding: 2px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background: transparent;
}

@keyframes blink {
  to {
    	background-color: #ffffff
  }
}

@keyframes blink-low {
    0% { border-bottom: 2px solid transparent; }
    50% { border-bottom: 2px solid #ff5555; }
    100% { border-bottom: 2px solid transparent; }
}

@keyframes blink-charging {
    0% { border-bottom: 2px solid transparent; }
    50% { border-bottom: 2px solid #50fa7b; }
    100% { border-bottom: 2px solid transparent; }
}

@keyframes blink-full {
    0% { border-bottom: 2px solid transparent; }
    33% { border-bottom: 2px solid #00ffff; }
    66% { border-bottom: 2px solid transparent; }
    100% { border-bottom: 2px solid transparent; }
}

#battery.warning:not(.charging) {
  background: transparent;
  color: #ffffff;
  animation-name: blink-low;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background: transparent;
  color: #c5c8c6;
  animation-name: blink-full;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #0e771d;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #0e771d;
}
