window {
    background-color: rgba(110, 141, 100, 0.1);
    color: rgba(110, 141, 100, 0.75);
    border: 1.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

entry {
    background-color: rgba(166, 227, 161, 0.05);
    color: #ffffff;
    border-radius: 4px;
    border: none;
    margin: 10px;
    padding: 5px;
}

list {
    background-color: rgba(166, 227, 161, 0.05);
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
}

button {
    background: rgba(0, 0, 0, 0);
    color: rgba(110, 141, 100, 1);
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgba(166, 227, 161, 0.5);
}   

